@import 'mixins';
.rightMenu{
  display: flex;
  padding: 17px 12px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 150px;
  background: #564A56;
  height: 100%;
  filter: drop-shadow(15px 0px 4px rgba(0, 0, 0, 0.25));
  .logo__img{
    object-fit: cover;
    max-width: 100%;
    min-width: 50px;
    height: auto;
  }
  .menuBtn{
    &__title{
      display: block;
      margin-bottom: 14px;
      font-family: $accent;
      font-style: normal;
      font-weight: 400;
      @include fontSize(26,18,1440);
      line-height: 32px;
      /* identical to box height, or 123% */

      font-smooth: subpixel-antialiased;
      color: #FFFFFF;
    }
    &__inner{
      cursor: pointer;
      max-height: 12px;
      span{
        display: block;
        height: 2px;
        background-color: $white;
        line-height: 0;
      }
      span:first-of-type{
        width: 100%;
        max-width: 34px;
        margin-bottom: 9px;
        
      }
      span:last-of-type{
        width: 100%;
        max-width: 53px;
        height: 3px;
      }
    }
  }
  &__arrow{
    cursor: pointer;
    img{
      transition: opacity 0.3s ease-in-out;
    }
      &:hover{
        img{
          opacity: 0.6;
        }
        
      }
      
    
  }
}