@import 'mixins';
@import 'menu';

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;

}
.container{
  width: 100%;
  margin: 0 auto;
}
section,header{
height: 100vh;
}
.content{
  height: 100%;
}
.header{
  display: flex;
  min-width: 100vw;
  .heroblock{
    .container{
    padding: 178px 10% 0px;
     
    }
    width: 100%;
    position: relative;
    &__bg{
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 0%;
      top: 0px;
      left: 0px;
      z-index: -1;
    }
     &__phone{
      
      display: flex;
      justify-content: flex-end;
      .inner{
        max-height: 38px;
        padding: 20px 39px;
      }
      a{
        text-decoration: none;
        font-family: $title;
        text-transform: uppercase;
        font-weight: 400;
        @include fontSize(36,20,1440);
        color: #fff;
        display: inline-block;
        transform: translateY(-10%);
        transition: opacity 0.3s ease-in-out;
        
      }
      &hover{
        a{
          opacity: 0.7;
        }
        
      }
     } 
    &__subtitle{
      font-family: $title;
      color: $gold;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 400;
      @include fontSize(36,20,1440);
      line-height:1.5;
      display: inline-block;
      margin-bottom: 37px;
    }
    &__title{

    }
  }
}
.title{
  font-family: $title;
  font-style: normal;
font-weight: 700;
@include fontSize(64,24,1440);
line-height: 138.7%;
/* or 89px */


color: #FFFFFF;
}